 #button {
     line-height: 12px;
     width: 180px;
     font-size: 12pt;
     font-family: 'Noto Sans JP', black;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:10%;
     margin-right:50%;
     margin-left: 47%;
 }

.imguno {
	
	max-width: 1000px;
	height: auto;
    display:block;
    margin:auto;
}

.imguno:hover {
	opacity: 0%;
	transition: 30s;
}

.imgdue {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin:auto;
    position:absolute;
	top: 90%;
	left: 33%;
}

.imgdue:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.imgtre {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
	top: 190%;
	left: 33%;
}

.imgtre:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.imgquattro {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
	top: 290%;
	left: 33%;
}

.imgquattro:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.imgcinque {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
	top: 390%;
	left: 33%;
}

.imgcinque:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.imgsei {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
	top: 490%;
	left: 33%;
}

.imgsei:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.imgsette {
	
	max-width: 500px;
	height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
	top: 590%;
	left: 33%;
}

.imgsette:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

iframe { 

width: 1500px;
height: 500px;
display:block;
margin:auto;
 }

body, html {
	margin: 0px;
	padding: 0px;
}

p {
	font-family: 'Noto Sans JP', black;
	margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    height: auto;
    font-size: 40px;    
}

h1 { 

	font-family: 'Noto Sans JP', bold;
	font-size: 80px;
	text-align: center;
	margin: 0;
 }


.wrapper {
	display: block;
	overflow-y: hidden;
}

.slide {
	width: 100%;
	height: 100vh;
}

.uno {
     background: white;
     margin-bottom: 100px;
     
}

.uno img {
	margin-left: auto;
  	margin-right: auto;
	width: auto;
	max-height: 100%;
	display: block;
}

.due {
	background: rgb(255,0,0);
}

.tre {
	background: rgb(255,255,0);
}

.quattro {
	background: rgb(0,0,255);
}

.cinque {
	background: rgb(255,0,255);
}

.sei {
	background: rgb(0,255,255);
}

.sette {
	background: rgb(0,255,0);
}

.otto {
	background: white;
}